<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresando...</title>
    <link rel="stylesheet" href="../styles/styles_login.css">

    <!-- Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/a59d4e3777.js" crossorigin="anonymous"></script>
</head>

<body>

    <span class="registrado"><i class="fa-solid fa-spinner fa-spin"></i>Ingresando... Espere por favor!</span>

    <script>
        setTimeout(function () {
            window.location = "../views/notes_view.html?#"
        }, 4000);

    </script>

</body>

</html>