<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <script src="../js/createNotes.js" defer type="module"></script>
  <script src="../js/showNotes.js" defer type="module"></script>
  <script src="../auth/log_out.js"></script>

  <link rel="stylesheet" type="text/css" href="../styles/styles_notes_view.css">
  <link rel="stylesheet" type="text/css" href="../styles/styles_popup.css">

  <!--Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">

  <!--Icons -->
  <script src="https://kit.fontawesome.com/a59d4e3777.js" crossorigin="anonymous"></script>

  <script>

    const displayName = sessionStorage.getItem('displayName');
    const email = sessionStorage.getItem('email');
    const photoURL = sessionStorage.getItem('photoURL');
    const uid = sessionStorage.getItem('uid');

    const titulo = sessionStorage.getItem('Note_title');
    const cuerpo = sessionStorage.getItem('Note_body');
    const date = sessionStorage.getItem('Note_date');

    if (displayName === null || displayName.toLowerCase() === "null") {

      window.location = "../auth/login.html"

    }

  </script>

  <title>Notes View</title>

</head>

<body>

  <div class="aside-notes">
    <div class="aside-header">
      <h2>
        <script>document.write(displayName)</script>
      </h2>
    </div>

    <div class="aside-grid">

      <ul id="notesList">

      </ul>

    </div>

    <div class="aside-setts">

      <ul class="icons-list">

        <li><i class="fa-brands fa-square-facebook"></i></li>
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-google-plus"></i></li>

      </ul>

    </div>

  </div>

  <div class="main-notes" id="mainNotes">

    <div class="main-nav">
      <h2>SD Notebooks</h2>

      <a onclick="logOut()"><i class="fa-solid fa-up-right-from-square"></i></a>

    </div>

    <div class="main-note-form" id="newNote">
      <h3>
        <script>document.write(new Date().toDateString())</script>
      </h3>

      <form action="" method="POST" id="newNoteForm">
        <input type="text" placeholder="Titulo" id="title" required>
        <textarea name="content" rows="4" cols="50" placeholder="Escribe tu nota!" id="content" required></textarea>

        <button class="new-note-button" type="submit" id="newNoteButton">
          <i class="fa-solid fa-plus"></i>
        </button>

      </form>

    </div>

  </div>

  <div id="updateModal" class="modal">

    <div class="modal-content">

      <span class="close" id="closeModalUpdate"><i class="fa-solid fa-xmark fa-xl"></i></span>

      <h2>Editar Nota</h2><br>

      <form action="#">

        <div class="input-box">

          <span class="icon"><i class="fa-solid fa-file-word fa-lg""></i></span>

          <strong><label for=" updatedTitle">Nuevo Título:</label></strong>

              <input type="text" id="updatedTitle">

        </div>

        <div class="input-box textarea-box">

          <span class="icon"><i class="fa-regular fa-file-lines fa-lg""></i></span>

          <strong><label for=" updatedBody">Nuevo Cuerpo:</label></strong>

              <textarea id="updatedBody"></textarea>

        </div>

        <button class="saveButton" id="saveChanges">Guarda tu Nota!<i class="fa-solid fa-save fa-lg"></i></button>
      </form>

    </div>
  </div>

  <div id="activeModal" class="modal">

    <div class="modal-content-active">

      <span class="close" id="closeModalActive"><i class="fa-solid fa-xmark fa-xl"></i></span>

      <h2>Tu Nota!<span style="color: #98e2e1;">____</span></h2><br>

      <div class="date-grid">

        <h3>
          <script>document.write(date)</script>
        </h3>

      </div>

      <div class="grid-content">

        <div class="content-box">

          <h3>Titulo: </h3>

          <h4>
            <script>document.write(titulo)</script>
          </h4>

          <span class="icon"><i class="fa-solid fa-file-word fa-lg""></i></span>

        </div>

        <div class=" content-box textarea-box">

          <h3>Cuerpo: </h3>

          <p>
            <script>document.write(cuerpo)</script>
          </p>

          <span class="icon"><i class="fa-regular fa-file-lines fa-lg"></i></span>

        </div>

      </div>

    </div>

  </div>

</body>

</html>