* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {

    background-color: #2ed0d2;
    background-image: url('../images/bg-login-desktop.svg');
    background-repeat: no-repeat;
    background-size: 4000px;
    font-family: 'Poppins', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-button {
    background-color: #3a3053;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 70px;
    left: 115px;
    padding-bottom: 12px;
    padding-top: 12px;
    position: absolute;
    text-decoration: none;
    top: 35px;
    width: 70px;
}

.menu-button:hover {
    color: #2ed0d2;
    animation: beat 1s infinite alternate;
}

@keyframes beat {
    to {
        transform: scale(1.2);
    }
}

.login-container,
.register-container {
    background-color: #e6e6e6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    padding: 25px;
    border-radius: 7px;
    height: auto;
    margin: 0px auto;
    text-align: center;
    width: 25%;

    position: absolute;
    top: 50px;

}

.login-container h1,
.register-container h1 {
    color: #3a3053;
    display: inline-block;
    font-size: 30px;
}

.login-form,
.register-form {

    margin-top: 25px;
}

.form-grid {
    margin-bottom: 20px;
    text-align: left;
}

.form-grid label {
    display: block;
    font-size: 18px;
    margin-bottom: 7px;
    font-weight: bold;

    color: black;
}

.form-grid input {
    border: 1px #3a3053 solid;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding-left: 15px;
    height: 25px;
    width: 95%;
}

.form-grid input:focus, select:focus {
    border: 2.5px #2ed0d2 solid;
}

.login-form button,
.register-form button {
    background-color: #3a3053;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: auto;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;
    width: 85%;
}

.login-form button:hover,
.register-form button:hover {
    background-color: #2ed0d2;
    transform: scale(1.05);
    transition-duration: 0.7s;
}

.login-link,
.register-link {
    margin-top: 20px;
    text-align: right;
}

.login-link a,
.register-link a {

    color: #3a3053;
    text-decoration: none;
}

.login-link a:hover,
.register-link a:hover {
    font-weight: bolder;
    transition-duration: 0.1;
}

.error {
    background-color: rgb(255, 148, 148);
    border: 1px rgb(173, 0, 0) solid;
    border-radius: 10px;
    color: rgb(173, 0, 0);
    font-size: 15px;
    margin-top: 20px;
    line-height: 25px;
    list-style: none;
    padding: 10px 15px 10px 15px;
    text-align: justify;
}

.error ul {
    list-style: none;
}

.registrado {
    background-color: rgb(127, 253, 133);
    border: 1px rgb(4, 110, 0) solid;
    border-radius: 10px;
    color: rgb(4, 110, 0);
    font-size: 20px;
    margin-top: 18px;
    padding: 30px 45px 30px 45px;
}

.registrado i{
    font-size: 30px;
    margin-right: 20px;
}

.GoogleButton {
    margin-top: 15px;
    
}

.GoogleButton > img {
    width: 24px;
    height: auto;
    margin-right: 5px;
}

.FacebookButton {
    margin-top: 15px;
    
}

.FacebookButton > img {
    width: 24px;
    height: auto;
    margin-right: 5px;
}



