
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    
}

.modal-content {
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    border: 2px solid rgb(55, 55, 55);
    border-radius: 25px;
    box-shadow: 0 0 68px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    box-sizing: border-box; 
}

.modal-content h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #000000;
    margin: 30px 0; 
    box-sizing: border-box;
}

.input-box label {
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    margin-bottom: 5px; /* Ajusta el espacio entre la etiqueta y el campo de entrada */

}


.input-box input,
.input-box textarea {
    width: 100%;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight:500;
}

.input-box .icon {
    position: absolute;
    right: 10px;
    top: 50%; /* Centra verticalmente el icono */
    transform: translateY(-50%);
    font-size: 1.2em;
    color: rgb(22, 48, 56);
    cursor: pointer;
}


.saveButton{
    width: 20%;
    height: 30px;
    background-color: rgb(237, 237, 237);
    border-color: #542f89;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;

}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    color: #162938;
    cursor: pointer;
}

